
.forimg{
    height: 100vh;
    padding: 50px;
    
}

    
    


.corosel{
    justify-content: center;
    background-color: blanchedalmond;
    
}
h1{
    text-align: center;
    padding:10px; 
}
.hk{
    height: 400px;
    margin-top: 20px;
    
}